$primary-normal: #101429;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1c1f33;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #4f4c52;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$yellow-light: #ccae54;
$yellow-dark: #997615;
