// SERVICES ------------
.services{
    color: $white-light;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    background-image: linear-gradient(to top, rgba(22, 22, 23, 0.8), rgba(0, 0, 25, 0.5)), url("/Barbearia/assets/bg-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    margin-bottom: 14px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 100%;
    font-size: 23px;
    color: $yellow-light;
}

#all-content {
    transition: all 0.5s ease;
}

#planos-section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: $black-dark;
    color: $white-light;
    text-align: center;
}

#planos-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: $yellow-light;
}

#planos-container {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#planos-container.show {
  display: flex;
}

.price_button {
    background-color: $yellow-dark;
    color: $black-dark;
    border: 3px solid;
    padding: 12px 24px;
    border-radius: 6px;
    margin-left: 50px;
    font-size: 14px;
}

.price_button:hover {

}

@keyframes color_change {
    
}

.planos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.plano {
    background-color: $black-light;
    border: 2px solid $yellow-light;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.plano h3 {
    font-size: 24px;
    color: $primary-light;
    margin-bottom: 10px;
}

.plano ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.plano ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

.plano p {
    font-size: 18px;
    font-weight: bold;
}

.toggle-button {
    justify-content: center;
    align-items: center;
    background-color: $yellow-dark;
    color: $black-dark;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .planos-container {
        flex-direction: column;
        align-items: center;
    }
    .plano {
        width: 100%;
        max-width: 360px;
    }
}